body {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

.first_section {
  display: flex;
  flex-direction: column;
  padding: 5px 150px 150px 150px;
}

.first_section,
.footer {
  background-color: #1F2937;
}

.logo_text,
.main_text,
button {
  color: #F9FAF8;
}

button {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo_text {
  font-size: 24px;
}

.about {
  display: flex;
  gap: 20px;
}

.main_text {
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

.secondary_text,
a {
  font-size: 18px;
  color: #E5E7EB;
}

.secondary_text {
  margin: 5px;
}

.about_right_jpg {
  height: 300px;
  width: 600px;
}

ul {
  display: flex;
  gap: 10px;
}

li {
  list-style-type: none;

}

a {
  text-decoration: none;
}

.sign_up {
  background-color: #3882F6;
  border-color: #3882F6;
}

.second_section {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px
}

.title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 32px;
}

.information {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info_text_and_pic {
  max-width: 160px;
}

.info_picture {
  width: 150px;
  height: 150px;
}

.third_section {
  padding: 100px 200px;
  background-color: #E5E7EB;
  color: #1f2937;
  font-size: 36px;
  font-weight: 300px;
}

.third_section p{
  margin: 0;
}

.quoted_person {
  text-align: right;
  font-weight: bold;
}

.fourth_section {
  padding: 80px 120px;
}

.call_to_action {
  display: flex;
  background: #3882F6;
  justify-content: space-between;
  color: #E5E7EB;
  padding: 40px 70px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.call_to_action button {
  background-color: #3882F6;
  border: 1px solid #ddd;
}

.call_to_action_text h2,p {
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}